doctype html
head
  title
    | Welcome to RiskAttack 2.0!
  link(rel='stylesheet' href='css/LoginStyle.css')
main#main-holder
  h1#login-header
    center
      | Welcome to
      br
    br
    br
    center Risk Attack 2.0
  #login-error-msg-holder
    p#login-error-msg
      | Invalid username
      span#error-msg-second-line and/or password
  form#login-form
    input#username-field.login-form-field(type='text' name='username' placeholder='Username')
    input#password-field.login-form-field(type='password' name='password' placeholder='Password')
    input#login-form-submit(type='submit' value='Login')
  form#registration-form(action='RiskAttack-Registration.html')
    input#registration-button(type='submit' value='New? Register Here!')
