doctype html
html
    head
        title Risk Attack
        link(href='css/stylesheet.css' rel='stylesheet')
    body
        h1 Welcome To
        h1 Risk Attack 2.0

          #login-error-msg-holder
            p#login-error-msg test
              
          form#login-form(action="lobby")
            input#username-field.login-form-field(type="text", placeholder="Username", name="username")
            input#password-field.login-form-field(type="password", placeholder="Password", name="password")
            input#login-form-submit(type="submit", value="Login")
          
          hr
          
          form#registration-form(action="/users/register")
            input#registration-button(type="submit", value="New? Register Here!")

    ul
        li
            a(href="/users/login") Login page
        li
            a(href="/users/register") Registration page
        li
            a(href="/lobby") Lobby page
        li
            a(href="/games/42") Game page (with ID 42)
        li
            a(href="/settings") Settings page
        li
            a(href="/users/logout") Logout




    //- 
    //- 
    //- 
    //- h1 Site Landing Page
    //- 
    //- ul
    //-     li
    //-         a(href="/users/login") Login page
    //-     li
    //-         a(href="/users/register") Registration page
    //-     li
    //-         a(href="/lobby") Lobby page
    //-     li
    //-         a(href="/games/42") Game page (with ID 42)
    //-     li
    //-         a(href="/settings") Settings page
