extends layout

block content
    h1 Site Landing Page

    ul
        li
            a(href="/users/login") Login page
        li
            a(href="/users/register") Registration page
        li
            a(href="/lobby") Lobby page
        li
            a(href="/game/42") Game page (with ID 42)

