
.testimg{
  height: 10%;
  width: 10%;
}

.h11{
  text-align: center;
}

.containerDiv{
  height: 100%;
  width: 100%;
}



.bottomDiv{
  height: 100%;
  width: 70%;
  display:inline-block;
}


.sideDiv{
  height: 100%;
  width: 30%;
  display:inline-block;
}

.mapContainer{
  height: 100%;
  width: 100%;
  display:inline-block;
}

.bgImgCenter{
  height: 100%;
  width: 100%;
  padding-top: 50px;
  z-index: -1;
}

.pid{
  text-align: center;
}

.mapButton {
  background-color: Transparent;
  font-size: 20px;
  padding: 2px 10px;
  border: none;
  cursor: pointer;
  border-radius: 1px;
}

.mapButton:hover {
  background-color: grey;
}

.oneButton{
  color: Black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}
.twoButton{
  color: Black;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.threeButton{
  color: Black;
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}
.fourButton{
  color: Black;
  position: absolute;
  top: 23%;
  right: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}
.fiveButton{
  color: Black;
  position: absolute;
  top: 40%;
  right:20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.sixButton{
  color: Black;
  position: absolute;
  top: 65%;
  right: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}
