doctype html
html
  head
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js", type='text/javascript')
    script(src='/map/dist/jquery.vmap.js')     
    script(src='/map/dist/maps/jquery.vmap.world.js')               
    script(src='/map/dist/maps/continents/jquery.vmap.europe.js')               

  body
    #vmap(style='width: 75%; height: 600px;')
    
    
     
  script.
    jQuery('#vmap').vectorMap({
        map: 'world_en',
       backgroundColor: '#a5bfdd',
       borderColor: '#818181',
       borderOpacity: 0.25,
       borderWidth: 1,
       color: '#f4f3f0',
       enableZoom: true,
       hoverColor: '#c9dfaf',
       hoverOpacity: null,
       normalizeFunction: 'linear',
       scaleColors: ['#b6d6ff', '#005ace'],
       selectedColor: '#c9dfaf',
       selectedRegions: null,
       showTooltip: true,
       onRegionClick: function(element, code, region, continent)
       {
         console.log(region);
         console.log(continent);

           var message = '2You clicked "'
               + region
               + '" which has the code: '
               + code.toUpperCase();

           //- alert(message);
       }
    });
  
