script(type='text/javascript' src='/javascripts/mapFunctions.js')
script(src='/socket.io/socket.io.js')

- var playerId = 2;
- var armies = 0;


  
doctype html
html
    head
        title RiskAttack 2.0 Game Page         
        link(href='/css/map.css', type="text/css", rel='stylesheet')

    body
        include ./navbar.jade
      div
        h1#header.h11 Game Room: 
        p#gPlayers.players Players:
        p#nameHack.hacky #{username}
    
  div.mainContainer
    div.parentflexContainer
      include ./map/map.jade
      
    div.sideParent
      h2#pname.center
      div.sideContainer
        include ./chatBox.jade


      
    //- div.parentflex
    //-   include ./map/tophalf.jade
    //- div.parentflex
    //-   include ./map/botthomhalf.jade

script.
  playerName("#{username}");
  getGameInfo(#{game_id}); 
  reloadGameState(#{game_id}); 
