doctype html
html
    head
        title RiskAttack 2.0 Homepage
        link(href='/css/gm.css' rel='stylesheet')

    body
      h1.h11 Game Room
      
      div.contianerDiv
      
        div.mapContainer
          img#backgroundimage(class="bgImgCenter" src="/imgs/svgmap.svg" border="0" alt="")
          button.mapButton.oneButton Button
          button.mapButton.twoButton Another


          
      div.contianerDiv
        div.bottomDiv
          h2 Bottom Div
          p something
        
        div.sideDiv
          h2 Side Div
          p test something
