doctype html
html
    head
        title RiskAttack 2.0 Homepage
        link(href='/css/HomepageStyle.css' rel='stylesheet')
        link(href='/javascripts/lobbyHeadButtons.js' rel='text/javascripts')

    body
        span
          h2 Welcome to Central Command, [player]
          h2#subheader [x] Players Currently Logged In
        
        nav
          button#chatButtonOpen.headButtons(onclick="document.getElementById('id01').style.display='block'") Chat Window
          button#settingsButton.headButtons Profile Settings
          button#gamesButton.headButtons(onclick="document.getElementById('id02').style.display='block'") Open List of Joinable Games
          
      main#main-holder
          
          h3 Create Personal Game

          form#creation-form
            label(for="players") Number of Players:
              input#creation-players-field.creation-field(type="text", placeholder="Enter a Number 2-4", name="players")
            label(for="uname") Set Password:
              input#password-field.creation-field(type="text", placeholder="Leave Blank for None", name="password")
            br
            br
            
            //- more labels tbd
            input#creation-submit(type="submit", value="Create Game!")
            br
            br
            
      div#id01.modal
          form.modal-content.animate(method="post", action="/action_page.php")
            div.coloredContainercontainer
              h2 Global Chat
            div#chatbox
      
            div.coloredContainercontainer
            label(for="uname") Chatting as: [username]
              input(type="text", placeholder="Enter Message", name="uname", required)
              button(type="submit") Send
              
      div#id02.modal
          form.modal-content.animate(method="post", action="/action_page.php")
            div.coloredContainercontainer
              h2 Available Lobbies
            div#chatbox
            
            div.coloredContainercontainer
            label(for="password") Joining as: [username]
              input(type="text", placeholder="Enter Password (Leave Blank If No Password)", name="password", required)
              button(type="submit") Join
              

            
