script(src='/socket.io/socket.io.js')



doctype html
head
  title RiskAttack 2.0 Homepage
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/css/HomepageStyle.css')

  include ./navbar.jade
  h2
    center#name Welcome to Central Command, #{username}
    p#playername.hacky #{username}
    p#playeruid.hacky #{uid}


    
  body
  div.main-holder
    | Create A New Game
    form#creation-form
      label(for='name')
        b Game Name:
      input#creation.creation-field(type='text' name='name' placeholder='Enter a name')
      label(for='players')
        b Find and Add Other Players:
      div.inline
        input#player2.login-form-field(type='text' name='player2' placeholder='Player 2')
        input#player3.login-form-field(type='text' name='player3' placeholder='Player 3')
        input#player4.login-form-field(type='text' name='player4' placeholder='Player 4')
      input#creation-submit(type='submit' value='Create Game')
    br
    
  div.bottomContianer
    div.half
        h2 Your Games
        div#gameBox.whitebox
          p#gameList
  
    div.half
        div.chatbox
          include ./chatBox.jade



script(type='text/javascript' src='/javascripts/lobby.js')
script.
  listGames("#{username}");
  
