doctype html
head
  title RiskAttack 2.0 Homepage
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/HomepageStyle.css')

  include ./navbar.jade
  h2
    center Welcome to Central Command, #{user}
    
  body
  div.main-holder
    | Create A New Game
    form#creation-form(action="/games/creategame?user=#{user}" , method='POST')
      label(for='name')
        b Game Name:
      input#creation-players-field.creation-field(type='text' name='name' placeholder='Enter a name')
      input#creation-submit(type='submit' value='Create Game')
    br
    
    
