doctype html
head
  title RiskAttack 2.0 Homepage
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/HomepageStyle.css')
span
  h2
    center Welcome to Central Command, [player]
  h2#subheader
    center [x] Players Currently Logged In
nav
  button#chatButton.headButtons(onclick="document.getElementById('id01').style.display='block'") Open Chat Window
  button#settingsButton.headButtons(onclick="location.href='/settings' ") Profile Settings
  button#gamesButton.headButtons(onclick="document.getElementById('id02').style.display='block'") Open List of Joinable Games
  button#gamesButton.headButtons(onclick="location.href='/users/logout' ") Logout
main#main-holder
  | Create Personal Game
  form#creation-form
    label(for='players')
      b Number of Players:
    input#creation-players-field.creation-field(type='text' name='players' placeholder='Enter a Number 2-4')
    label(for='uname')
      b Set Password:
    input#password-field.creation-field(type='text' name='password' placeholder='Leave Blank for None')
    //
      This is where more fields would go, if we have them later
      Color, starting countries, etc, can be filled in here, in the format as above.
      //
    //input#creation-submit(type='submit' value='Create Game!')
    input#creation-submit(onclick="location.href='/games/24' ")
#id01.modal
  form.modal-content.animate(action='/action_page.php' method='post')
    .container(style='background-color:#f1f1f1')
      b Global Chat
    #chatbox
    .container(style='background-color:#f1f1f1')
      label(for='uname')
        b Chatting as: [username]
      input(type='text' placeholder='Enter Message' name='uname' required='')
      button(type='submit') Send
#id02.modal
  form.modal-content.animate(action='/action_page.php' method='post')
    .container(style='background-color:#f1f1f1')
      b Available Lobbies
    #chatbox
    .container(style='background-color:#f1f1f1')
      label(for='password')
        b Joining as: [username]
      input(type='text' placeholder='Enter Password (Leave Blank If No Password)' name='password' required='')
      button(type='submit') Join
script.
  var modal = document.getElementById('id01');
  var modalTwo = document.getElementById('id02');
  // When the user clicks anywhere outside, close it
  window.onclick = function(event) {
  if (event.target == modal) {
  modal.style.display = "none";
  }
  if (event.target == modalTwo) {
  modalTwo.style.display = "none";
  }
  }
