link(rel='stylesheet' href='/css/HomepageStyle.css')

script.
  console.log("Nav:", "#{username}")


nav.nav
  //- button#settingsButton.headButtons(onclick="location.href='/settings' ") Profile Settings

  button#gamesButton.headButtons(onclick="location.href='/lobby?user=#{username}'") Lobby
  button#gamesButton.headButtons(onclick="location.href='/users/logout' ") Logout
