link(rel='stylesheet' href='/css/HomepageStyle.css')


nav.nav
  button#settingsButton.headButtons(onclick="location.href='/settings' ") Profile Settings

  button#gamesButton.headButtons(onclick="location.href='/lobby' ") Lobby
  button#gamesButton.headButtons(onclick="location.href='/users/logout' ") Logout
