link(rel='stylesheet' href='/css/HomepageStyle.css')


nav.nav
  //- button#chatButton.headButtons(onclick="document.getElementById('id01').style.display='block'") Open Chat Window
  button#settingsButton.headButtons(onclick="location.href='/settings' ") Profile Settings
  button#gamesButton.headButtons(onclick="document.getElementById('id02').style.display='block'") Open List of Joinable Games
  button#gamesButton.headButtons(onclick="location.href='/users/logout' ") Logout
